*{
    margin: 0;
    padding: 0;

}
:root {
    --bg-secondary-color: #ebebeb;
    --yellow: #ff0000;
    --icon-hover: #dc302f;
    --star-color: #ea7952;
  }



.navbar {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    gap: 20px;
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show,
  .nav-link:focus,
  .nav-link:hover {
    color: white !important;
  }
  .nav2-left-menu {
    color: rgb(255, 255, 255);
  }
  .nav2-left-menu:hover {
    color: rgb(255, 255, 255);
  }
  
  .orange-btn {
    background-color: #ec3d08;
    width: 222px;
    height: 52px;
    border: none;
    border-radius: 0px;
    color: white;
  }
  .orange-btn:hover {
    cursor: pointer;
    background-color: #ffb936;
  }
  .yellow-btn {
    background-color: #ffb936;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 0px;
    color: white;
  }
  .yellow-btn:hover {
    cursor: pointer;
    background-color: #ec3d08;
  }




  .main{
    background-color: rgb(231, 131, 186);
    background-image: url(./images/desert\ 16\ 1080456.jpg);
    /* background-image: url(./images/desert\ 19\ fruit-cake-food-photography_776894-39378.avif); */
    /* background-image: url(./images/desert\ 20\ flower-cake-big-food-photography-260nw-2510439605.webp); */

background-repeat: no-repeat;
    object-fit: cover;
   margin-top: 70px;
   margin-bottom: 50px;
 
}

.sec1{
   
 display: flex;
 flex-wrap: wrap;
 
width: 100%;
/* background-image: url(./images/desert\ 14\ sladost-desert-klubnika-v-5486.webp); */


}
.sec1-left{

width: 640px;
padding: 100px 50px 180px 200px;
}
.sec1-left-head{
 color: white;
 font-size: 36px;
}
.sec1-left-para{
margin-top: 30px;

 color: white;

}
.sec1-left-btn{
 background-color: transparent;
 border: 3px solid white;
 color: white;
width:200px ;
height:50px ;
margin-top: 30px;
}
.sec1-left-btn:hover{
cursor: pointer;
background-color: white;
border: 3px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);


}
/* .sec1-right{

width: 650px;
 padding: 100px 0px 180px 50px;

}
.sec1-right-top{
display: flex;
flex-wrap: wrap;
gap: 20px;
}
.placeholder1{
 width:300px ;
 padding: 10px;
 height:50px ;
}
.placeholder2{
 width:300px ;
 padding: 10px;

 height:50px ;
}
.placeholder3{
 margin-top: 30px;
 width:600px ;
 padding: 10px;

 height:50px ;
}

.placeholder4{
 margin-top: 30px;
 padding: 10px;

 width:600px ;
 height:80px ;
}
.sec1-right-btn{
 margin-top: 30px;
}
 */












.section5 {
    padding-bottom: 10vh !important;
    margin-top: 50px;
  }
  .supports {
    margin-top: 10vh !important;
  }
  .supports div {
    border: 1px solid #ddd;
  }




  .marquee-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marquee-text {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
    color: white;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* ------------MARQUEE ENDS HERE----------------*/




