*{
  margin: 0;
  padding: 0;
 }
 :root {
     --theme-color: #f5b754;
     --grey-txt: #999999;
     --theme-black: #1b1b1b;
     --theme-grey: #222222;
   }
 
 
 /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Navbar>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
 
 
 .navbar{
     background-color: #000;
     /* background-color: #d80808; */
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 10;
     gap: 20px;
  }
 .nav2-left-menu {
 color: rgb(255, 255, 255);
 } 
 .nav2-left-menu:hover {
 color: rgb(255, 255, 255);
 }
 
 .orange-btn{
 
 background-color: #ec3d08;
 width: 222px ;
 height: 52px;
 border: none;
 border-radius: 0px;
 color: white;
 
 }
 .orange-btn:hover{
 cursor: pointer;
 background-color: #ffb936;
 } 
 .yellow-btn{
 background-color: #ffb936;
 width: 150px ;
 height: 40px;
 border: none;
 border-radius: 0px;
 color: white;
 }
 .yellow-btn:hover{
 cursor: pointer;
 background-color: #ec3d08;
 
 }
 
 
 
 .container{
     background-color: rgb(38, 0, 255);
     /* background-image: url(./image/bg\ 8\ wp2399220.webp); */
     background-image: url(./images/des);

     object-fit: cover;
    /*  width: 100%;
     height: 700px;
    padding:100px 30px 30px 30px; */
    margin-top: 70px;
    margin-bottom: 50px;
    /* flex-wrap: wrap; */
     
 }
 /* .main{
     background-color: rgb(38, 0, 255);
     width: 100%;
    padding:150px 0px 300px 100px;

    display: flex;
 } */
 /* .right{
     
     width: 70%;

     height: 500px;
     background-color: aqua;
 
 }
 .placeholder1{
     width: 500px;
     height: 50px;
 }
 .placeholder2{
     width: 500px;
     height: 50px;
 }
 
 
 .left-row1{
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     
     

 }
 .left-row1-1{
 width: 200px;
 height: 200px;
 background-color: rgb(113, 169, 125);


 }
 .left-row1-2{
     width: 200px;
     height: 200px;
    
 background-color: rgb(169, 113, 158);

 }
 
 .left-row2{
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
 }
 
 
 .left-row2-1{
     width: 200px;
     height: 200px;
 
     margin-top: 20px;
 background-color: rgb(126, 113, 169);
 
     }
     .left-row2-2{
         width: 200px;
         height: 200px;
       
     margin-top: 20px;

 background-color: rgb(163, 169, 113);

         } */
 
 .sec1{
  display: flex;
  flex-wrap: wrap;
width: 100%;
 
 }
 .sec1-left{
/* width: 50%; */
width: 640px;

/* background-color: #a99067; */
padding: 100px 50px 180px 0px;
 }
 .sec1-left-head{
  color: white;
  font-size: 36px;
  /* width: 16px; */
 }
 .sec1-left-para{
margin-top: 30px;

  color: white;

 }
 .sec1-left-btn{
  background-color: transparent;
  border: 3px solid white;
  color: white;
width:200px ;
height:50px ;
margin-top: 30px;
 }
 .sec1-left-btn:hover{
cursor: pointer;
background-color: white;
border: 3px solid rgb(0, 0, 0);
color: rgb(0, 0, 0);


 }
 .sec1-right{
  /* width: 50%; */
width: 650px;

  /* background-color: #862f86; */
  padding: 100px 0px 180px 50px;

 }
 .sec1-right-top{
display: flex;
flex-wrap: wrap;
gap: 20px;
 }
 .placeholder1{
  width:300px ;
  padding: 10px;
  /* padding: 0px 290px 0px 10px; */
  height:50px ;
 }
 .placeholder2{
  width:300px ;
  padding: 10px;

  height:50px ;
 }
 .placeholder3{
  margin-top: 30px;
  width:600px ;
  padding: 10px;

  height:50px ;
 }

 .placeholder4{
  margin-top: 30px;
  padding: 10px;

  width:600px ;
  height:80px ;
 }
 .sec1-right-btn{
  margin-top: 30px;
 }



 
 
     
 
 
 
 
 
 
 /* footer,, */
 .foot1 {
     height: 20vh;
     width: 100%;
     background-color: var(--theme-grey);
     .logos {
       padding-left: 8vw;
       padding-top: 20px;
       img {
         width: 200px;
       }
     }
   }
   .info-box > div{
     display: flex;
     flex-wrap: wrap;
   }
   .foot2 {
     width: 100%;
     padding-top: 90px;
     .info-box {
       /* height: 15vh; */
       width: 78%;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 20px;
       margin-left: 11%;
       border: 2px solid var(--theme-grey);
       border-radius: 20px;
       p {
         font-size: 14px;
         color: var(--grey-txt);
       }
       h4 {
         font-size: 14px;
       }
       .circle {
         aspect-ratio: 1;
         height: 60px;
         width: 60px;
         border-radius: 50%;
         background-color: var(--theme-color);
         font-size: 30px;
         color: var(--theme-black);
         ion-icon {
           translate: 15px 12px;
         }
       }
       .circ1 {
         margin-left: 20px;
       }
       .sec {
         padding-top: 10px;
         padding-left: 20px;
         /* padding-right: 190px; */
       }
       .sec3 {
         padding-right: 20px;
       }
       .sec1 {
         padding-top: 10px;
         /* padding-right: 190px; */
         padding-left: 20px;
       }
     }
   }
   .foot3 {
     width: 100%;
     /* height: 40vh; */
     margin-top: 12vh;
     display: flex;
     flex-wrap: wrap;
     font-size: 14px;
     padding-left: 30vh;
     padding-right: 20vh;
     color: #ffffffcc;
     h3 {
       font-size: 21px;
       color: white;
       margin-bottom: 15px;
     }
     .one {
       /* width: 33.33%; */
       width: 150px;

       line-height: 1.95em;
       .logo img {
         margin-bottom: 20px;
         width: 140px;
       }
       .circs {
         display: flex;
         padding-top: 20px;
         .circ {
           margin-left: 10px;
           width: 50px;
           height: 50px;
           border-radius: 50%;
           border: 1px solid var(--theme-color);
           display: flex;
           justify-content: center;
           align-items: center;
           cursor: pointer;
           ion-icon {
             font-size: 25px;
           }
         }
         .circ:hover {
           background-color: var(--theme-color);
           ion-icon {
             color: var(--theme-black);
           }
         }
       }
     }
     .two {
       margin-left: 8.33%;
       width: 25%;
       line-height: 35px;
       ul {
         display: flex;
         flex-direction: column;
         padding-left: 15px;
       }
       .foot3-two{
          margin-top: 10px;
       }
       a {
         color: #ffffffcc;
       }
       a:hover {
         color: var(--theme-color);
       }
       a::before {
         content: "";
         height: 6px;
         width: 6px;
         border-radius: 50%;
         background-color: var(--theme-color);
         position: absolute;
         translate: -15px 15px;
       }
     }
     .three {
       line-height: 35px;
       input {
         width: 356px;
         height: 60px;
         margin-top: 20px;
         padding-left: 20px;
         border-radius: 30px;
         font-size: 14px;
         color: #ffffffcc;
         background-color: transparent;
         border: 1px solid var(--theme-color);
         outline: none;
       }
       .three h3{
          margin-top: 10px;
       }
       .circle {
         height: 50px;
         width: 50px;
         border-radius: 50%;
         background-color: var(--theme-color);
         position: absolute;
         translate: 302px -55px;
         color: var(--theme-black);
         span {
           font-size: 30px;
           position: absolute;
           translate: 12px 6px;
           rotate: 10deg;
         }
       }
     }
   }
   .hr {
     height: 1px;
     width: 80vw;
     background-color: var(--theme-grey);
     margin-bottom: 10vh;
     margin-left: 10vw;
   }
   .foot4 {
     height: 5vh;
     width: 100%;
     p {
       color: var(--grey-txt);
       font-size: 12px;
       margin-left: 10vw;
       span {
         border-bottom: 1px solid var(--theme-color);
         color: white;
         padding-bottom: 3px;
         cursor: pointer;
       }
     }
   }
 
 footer{
     background-color: var(--theme-black);
     h4{
         color: white ;
     }
 }













 @media only screen and (max-width: 1040px) {
.sec-1-left{
  width: 540px;

}
.sec-1-right{
  width: 440px;
  
}
.sec1-left-head{
  font-size: 26;
}
.sec1-left-para{
  font-size: 16;
}
 
 .placeholder1{
  width:300px ;
  padding: 10px;
  height:50px ;
 }
 .placeholder2{
  width:300px ;
  padding: 10px;

  height:50px ;
 }
 .placeholder3{
  margin-top: 30px;
  width:500px ;
  padding: 10px;

  height:50px ;
 }

 .placeholder4{
  margin-top: 30px;
  padding: 10px;

  width:500px ;
  height:80px ;
 }

 .foot3{
  padding-left: 20vh;
}
}




 @media only screen and (max-width: 975px){


  .sec-1-left{
      width: 540px;
  
    }
    .sec-1-right{
      width: 440px;
      
    }
    .sec1-left-head{
      font-size: 22;
    }
    .sec1-left-para{
      font-size: 10;
    }
     
     .placeholder1{


      width:230px ;
      padding: 5px;
      font-size: 13px;
      height:45px ;




     }
     .placeholder2{
      width:230px ;
      padding: 5px;
      font-size: 13px;
      height:45px ;
     }
     .placeholder3{
      width:250px ;
      padding: 5px;
      font-size: 13px;
      height:45px ;
     }
  
     .placeholder4{
      width:250px ;
      padding: 5px;
      font-size: 13px;
      height:45px ;
     }
  
  

.foot3{
  padding-left: 8vh;
}

#email{

}




 }




 @media only screen and (max-width: 330px){
  .sec1-left-head{
      font-size: 20;
    }
    .sec1-left-para{
      font-size: 8;
    }
    .placeholder1{
      width:200px ;
      padding: 2px;
      font-size: 10px;
      height:40px ;
     }
     .placeholder2{
      width:200px ;
      padding: 2px;
      font-size: 10px;
      height:40px ;
     }
     .placeholder3{
      width:200px ;
      padding: 2px;
      font-size: 10px;
      height:40px ;
     }
  
     .placeholder4{
      width:200px ;
      padding: 2px;
      font-size: 10px;
      height:40px ;
     }
     .sec1-right-btn{
      width: 100px;
      height: 30px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      
}
/* .input{
  width: 256px;
}
.three{
  width: 256px;

} */
#email{
  width: 256px;

}
 }